<footer class="footer">
	<div class="container text-center">
		<p class="hidden">Copyright &copy; 2016.Mark@mark.ah.cn All rights reserved.</p>
			<p>
				<span>© Powered by mark. 皖ICP备14014806</span>
				<script type="text/javascript">
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1258745690'%3E%3C/span%3E%3Cscript src='http://s11.cnzz.com/z_stat.php%3Fid%3D1258745690%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        </script>
			</p>
	</div>
</footer>